:root {
  --color: green;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1;
  shape-rendering: crispEdges
}

.radio {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.3rem;
  color: var(--color);
}
.radio:focus-within .radio__label {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.radio__label {
  line-height: 1;
  -webkit-transition: 180ms all ease-in-out;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: -webkit-box;
  display: flex;
}
.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio__input input:focus + .radio__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.radio-gradient input:checked + .radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}
.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}



div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: #C4E0F9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

  body {
  		  	font-size: 1rem;
  		  	font-family: 'Open Sans', sans-serif;
  		  	font-weight: 500;
  		  	fill: #7A7A7A;
  		  	text-align: center;
  		}
  /* The switch - the box around the slider */



  body {
      margin: 0px;
  }
  .sphere{
      fill: lightgrey;
  }

  .countries {
      fill: darkgrey;
      stroke: black;
  }
  .month {
      fill: none;
      stroke: #000;
      stroke-width: 2px;
  }
  .day {
      fill: #fff;
      stroke: #ccc;
  }
  text    {
      font-family:sans-serif;
      font-size:1.5em;
  }
  .dayLabel   {
      fill:#aaa;
      font-size:0.8em;
  }
  .monthLabel {
      text-anchor:middle;
      font-size:0.8em;
      fill:#aaa;
  }
  .yearLabel  {
      fill:#aaa;
      font-size:1.2em;
  }

  .key    {font-size:0.5em;}

  .full-height {
  height: 100%;
}
body {background-color: #e9f1f8;
/* opacity: 0.5; */
}
.container {
  height: 500px;
  /* margin: 10%; */
  top: 25%;
  left: 5%;
  position: absolute;
  border: 3px dashed lightgrey;
}
.title {
  text-align: left;
  /* margin: 2%; */
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.p1 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size:3em;
  color: darkgrey;
}
/* @-webkit-keyframes image_circle {
  0%   {left:-4%; top:-3%;}
  25%  {left:99%; top:-10%;}
  50%  {left:99%; top:96%;}
  75%  {left:-4%; top:100%;}
  100% {left:-4%; top:-4%;}
} */
@keyframes image_circle {
  0%   {transform: rotate(0deg); left:-4%; top:-5%;}
  30%  {transform: rotate(40deg); left:99%; top:-5%;}
  50%  {transform: rotate(0deg); left:99%; top:96%;}
  80%  {transform: rotate(-40deg); left:-4%; top:96%;}
  100% {transform: rotate(0deg); left:-4%; top:-5%;}
}
.image {
  position: relative;
  display: block;
  opacity: 0.5;
  fill: darkgrey;
  width: 5%;
  height: auto;
  /* -webkit-animation: image_circle 4s linear infinite; */
  animation: image_circle 10s linear infinite;
}
[data-aos="reverse-out"] {
  opacity: 1;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 0.1;
  }
}
